<table>
  <thead>
    <tr>
      <th (click)="setSort('code')" class="progression-header">
        <span class="wrap-heading">Code</span> {{ getSortIcon('code') }}
      </th>
      <th (click)="setSort('coursename')" class="progression-header">
        <span class="wrap-heading">Course name</span> {{
        getSortIcon('coursename') }}
      </th>
      <th (click)="setSort('progression')" class="progression-header">
        <span class="full-name">Progres<wbr />sion</span>
        <span class="short-name">A/<wbr />B</span>
        {{ getSortIcon('progression') }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>{{ course.code }}</td>
      <td>
        <a [href]="course.syllabus" target="_blank" rel="noopener">
          {{ course.coursename }}
        </a>
      </td>
      <td>{{ course.progression }}</td>
    </tr>
  </tbody>
</table>
