footer {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: larger;
  color: black;
  justify-content: center;
  background-color: rgba(209, 218, 227, 0.1);
  width: 100vw;
  flex-direction: column;
  padding: 1.5rem;
}

.copyright {
  font-weight: 650;
}

div.footer > img {
  width: 30px;
  height: 30px;
  margin-right: 0.6rem;
}
